<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Details</mat-card-title>
        <mat-card-subtitle>Configure the user details and preferences</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input 
                matInput 
                value="Enter your name..." 
                formControlName="name" 
                required/>
            </mat-form-field>
          </div>
          
          <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input 
                  matInput 
                  value="Enter your email..."
                  formControlName="email"
                  />
              </mat-form-field>
          </div>

          <div class="row no-wrap">       
            <mat-form-field class="example-full-width">
              <mat-label>API Key</mat-label>
              <input matInput readonly formControlName="api_key">
            </mat-form-field>
            
            <div class="spacer"></div>

            <button mat-raised-button 
              color="accent"
              [disabled] ="(!selectedUser$.value)"
              (click)="onGenerateKey()"  >
              New Key
            </button>
          </div>
  
          <div class="row">
            <app-prefs-panel formControlName="preferences"></app-prefs-panel>
          </div>


      </mat-card-content>
      <mat-card-actions>
        <button 
          type="button"
          mat-raised-button 
          color="primary"
          (click)="onCancel()">
          Cancel
        </button>
        <div class="spacer"></div>
        <button 
          type="submit" 
          mat-raised-button 
          [disabled]="!canSave()"
          color="primary">Save
        </button>
      </mat-card-actions>
    </mat-card>
</form>

  <div>
    {{this.profileForm.value.preferences | json}}
  </div>
</div>