<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="logo-image" src="../../../../assets/_555a0a30-519a-4c63-8042-9a28b59aea31.jpg" alt="">
    <span>{{title}}</span>
    <span class="flex-spacer"></span>
    @if (data$|async; as data) {
      <button mat-icon-button aria-label="Example user verified icon" (click)="notImplementedYet()"> 
         <mat-icon>verified_user</mat-icon>
      </button>
      @if (data.isAdmin) {
      <button mat-icon-button aria-label="Example user verified icon" (click)="notImplementedYet()">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      }
      <button mat-icon-button aria-label="Example user verified icon" (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <button mat-icon-button aria-label="Example user verified icon" (click)="logIn()">
        <mat-icon>login</mat-icon>
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>