<div class="container">
  <form [formGroup]="robotForm" (ngSubmit)="onSubmit(robotForm)">
    <mat-card class="robots">
      @if (robotData$|async; as data) {
      <mat-card-header>
        <mat-card-title>
          @if (data.isEdit) {
            Edit Robot
          } @else {
            Add New Robot
          }
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput value="Enter the name..." 
              formControlName="name" required />
          </mat-form-field>
        </div>
        
        <div class="row">
          <mat-form-field class="example-full-width">
            <mat-label>MAC</mat-label>
            <input matInput value="Enter the MAC address..." 
            formControlName="mac" />
          </mat-form-field>
        </div>
                
        <div class="row">
          <app-prefs-panel formControlName="preferences"></app-prefs-panel>
        </div>

        </mat-card-content>
        <mat-card-actions>
          <button type="button" mat-raised-button color="primary" (click)="onCancel()">
            Cancel
          </button>
          <div class="spacer"></div>
          <button type="submit" mat-raised-button [disabled]="!canSave()" color="primary">Save
          </button>
        </mat-card-actions>
      }
    </mat-card>
  </form>
</div>