/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

html, body { height: 100%; width: 100%;}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #ece0ca;
  display: -webkit-flex;
  display: flex;
 }
 
 $ps2p-regular: "Press Start 2P", system-ui;
 $shadow-color: rgb(77, 23, 21);
 $font-color: rgb(83, 0, 7); 

 app-root {
   display: flex;
   flex: 0 0 100% !important;
   flex-direction: column;
 
  .ctr { display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      align-self: center;
      margin-top: auto;
      margin-bottom: auto;
  
    span { 
      margin-top: 1rem;
      font-family: $ps2p-regular;
      font-weight: 400;
      font-style: normal;
      font-size: 1.6rem;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      line-height: 2rem;
      color: $font-color;
    }
  }


  .splash {
    width: 35vw;
    height: 35vw;
    min-width: 300px;
    min-height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    //background: #333;
    padding: 2px;
    border-radius: 50%;
   
    img {
      border-radius: 50%;
      width: 100%;  
      height: 100%; 
      //box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .pulse {
    cursor: pointer;
    box-shadow: 0 0 0 rgba($shadow-color, 0.4);
    animation: pulse 2s infinite;
  }

  .pulse-text {
    cursor: pointer;
    animation: pulse-text 2s infinite;
  }

  .pulse:hover {
    animation: none;
  }


  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba($shadow-color, 0.4);
    }

    70% {
      -webkit-box-shadow: 0 0 0 10px rgba($shadow-color, 0);
    }

    100% {
      -webkit-box-shadow: 0 0 0 0 rgba($shadow-color, 0);
    }
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($shadow-color, 0.4);
      box-shadow: 0 0 0 0 rgba($shadow-color, 0.4);
    }

    70% {
      -moz-box-shadow: 0 0 0 10px rgba($shadow-color, 0);
      box-shadow: 0 0 0 10px rgba($shadow-color, 0);
    }

    100% {
      -moz-box-shadow: 0 0 0 0 rgba($shadow-color, 0);
      box-shadow: 0 0 0 0 rgba($shadow-color, 0);
    }
  }

  @-webkit-keyframes pulse-text{
      0% {
        -webkit-text-shadow: 0 0 0 0 rgba($shadow-color, 0.4);
      }

      70% {
        -webkit-text-shadow: 0 0 0 10px rgba($shadow-color, 0);
      }

      100% {
        -webkit-text-shadow: 0 0 0 0 rgba($shadow-color, 0);
      }
    }

    @keyframes pulse-text {
      0% {
        -moz-text-shadow: 0 0 0 0 rgba($shadow-color, 0.4);
        text-shadow: 0 0 0 0 rgba($shadow-color, 0.4);
      }

      70% {
        -moz-text-shadow: 0 0 0 10px rgba($shadow-color, 0);
        text-shadow: 0 0 0 10px rgba($shadow-color, 0);
      }

      100% {
        -moz-text-shadow: 0 0 0 0 rgba($shadow-color, 0);
        text-shadow: 0 0 0 0 rgba($shadow-color, 0);
      }
    }
}
 

.flex-spacer {
  flex: 1 1 auto;
}